.App {
  background-color: #ece9de;
  height: 100vh;
}

.navbar {
  max-width: 960px;
}
.container-list {
  max-width: 960px;
}
.list-group-item {
  /* margin: 0.1em 0;
  border-radius: 0.2em; */
}
.list-item_tit {
  margin-bottom: 0;
  font-size: 1rem;
}

.list-item_btn i {
  margin: 0 0.5rem;
}
.nav-link {
  margin-left: 1rem;
}
.nav-link i {
  margin: 0 0.5rem;
}
