body {
  background-color: #ece9de;
}
.App {
  position: relative;
}

.navbar {
  max-width: 960px;
  margin-bottom: 1rem;
}
.container-list {
  max-width: 960px;
}

.list-item_tit {
  margin-bottom: 0;
  font-size: 1rem;
}

.list-item_btn i {
  margin: 0 0.5rem;
}
.list-item_price {
  margin-right: 3.5rem;
}
.nav-link {
  margin-left: 1rem;
}
.nav-link i {
  margin: 0 0.5rem;
}
.navbar-nav {
  margin-right: 1.6rem;
}
.badge {
  top: 50%;
  right: -1.6rem;
  transform: translateY(-50%);
}
.btn-load {
  margin: 2em 0;
}
.btn-up {
  position: absolute;
  bottom: 0;
  right: 1rem;
}
.list-group_summary {
  margin: 2em 0;
}
.home__link {
  color: #fcc454;
  padding-left: 0.3rem;
}
.home__link:hover {
  color: #212529;
}
